@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {/*font pokemon*/
            font-family: "Pokemon"; 
            /*src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
            */src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype")/*, 
            src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), 
            src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), 
            src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype")*/; 
}



html{
    background-color: rgba(35, 64, 66, 0.418);
}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
table{
    margin: auto;
}
h1{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    color: white;
    text-align: center;
    font-family: Pokemon;
    
}
p{
    text-align: center;
}
.button{
    font-family: Pokemon;
    font-size: 150%;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    transition: background .3s;
    position:absolute; 
    top: 22.5%;
    left:50%;
    transform: translate(-50%, -50%);
}
.button:hover{
    background-color: aliceblue;
}
